<div class="row">
  <div class="col-sm-3">
    <h2>Tags</h2>
    <div class="tag-list">
      <span
        *ngFor="let tag of tags"
        [ngClass]="{'selectable-tag': true, 'tag': true, 'tag-default': true, 'tag-primary': filteringTagNames.indexOf(tag.name) != -1}"
        (click)="toggleFilter(tag);"
        >{{ tag.name }}</span>
    </div>
  </div>
  <div class="col-sm-9">
    <h2>Bookmarks</h2>
    <ul class="list-group">
      <li *ngFor="let bookmark of filteredBookmarks()" class="list-group-item">
        <a class="pull-xs-right" href="javascript:void(0);" (click)="gotoEditBookmark(bookmark);">Edit</a>
        <h4><a href="{{ bookmark.url }}" target="_blank">{{ bookmark.title }}</a></h4>
        <small>{{ bookmark.timeAdded }}</small>
        <p>{{ bookmark.notes }}</p>
        <div class="tag-list">
          <span *ngFor="let tag of bookmark.tags" class="tag tag-default">{{ tag }}</span>
        </div>
      </li>
    </ul>
  </div>
</div>
